
# --- AZURE DATABASE FOR MYSQL (Flexible Server) ---
# Contoh Host: nama-server-anda.mysql.database.azure.com
DB_HOST=nama-server-anda.mysql.database.azure.com
DB_PORT=3306
DB_USER=adminuser@nama-server-anda
DB_PASSWORD=password_rahasia_anda
DB_NAME=portal_pegawai

# --- AZURE BLOB STORAGE ---
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net

# Nama container yang sudah Anda buat di Blob Storage
AZURE_STORAGE_CONTAINER_NAME=berkas-pelamar

# --- PORT APLIKASI ---
PORT=3000
